# EndPoint
VITE_WEATHER_API_ENDPOINT="https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtFcst"

# API KEY
VITE_WEATHER_API_KEY="replace-with-weather-api-key"

# Server
VITE_SERVER_URL="https://qbix-portfolio.shop"

# f